---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Danke";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Deine Nachricht wurde erfolgreiche übermittelt.</h2>
</BaseLayout>
